/* ETIQUETAS  GENERALES */

h1{
    font-family: 'Chakra Petch', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/*NAVEGACIÓN --- NAV */
body {
    background-image: url(/imagenes/brackground-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 90%;
    margin: auto;
    height: 100vh;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 65px;
}
.nav-menu ul {
    display: flex;
    align-items: center;
        text-align: center;
}
.nav-menu ul li {
    
    padding: 0 10px;
}

.nav-menu ul li a {
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
}
h1{
    font-size: 2rem;
    color: #000;
    padding: 0 10px;
    display: flex;
    align-items: center;
        
}

