/* ETIQUETAS  GENERALES */

h1{
    font-family: 'Chakra Petch', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/*NAVEGACIÓN --- NAV */
body {
    background-image: url(/imagenes/brackground-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 90%;
    margin: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    background-color: #fdfdfb;
}
.nav-menu ul {
    display: flex;
    align-items: center;
        text-align: center;
}
.nav-menu ul li {
    
    padding: 0 20px;
}

.nav-menu ul li a {
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
}
h1{
    font-size: 2rem;
    color: #000;
    padding: 0 10px;
    display: flex;
    align-items: center;
        
}
/* MAIN -- 1*/
h2{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 9rem;
    margin-bottom: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}
.section-1{
    display: flex;
    height: 560px;
    justify-content: space-between;
    margin-top: 45px;
}
.section-1 div {
    align-items: center;
    text-align: center;
    width: 50%;
}
.section-1 img {
   display: flex;
   width: 450px;
   height: 500px;
   text-align: center;
   align-items: center;
}


/* MAIN */

.container-2{
    width: 90%;
    margin: auto;
}

.about-me{
    height: 100vh;
    background-color: aqua;
}
.blog{
    height: 100vh;
    background-color: black;
}
.contact-me{
    height: 100vh;
    background-color: chartreuse;
}